
.carousel-wrapper {
    position: relative;
    width: 85%;
    height: 50vh;
    margin: 0 auto;
}

.item-1{
    background-image: url('../img/slider-1.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:  50% 50%

}
.item-2{
    background-image: url('../img/slider-2.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:  50% 50%}
.item-3{
    background-image: url('../img/slider-3.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:  50% 50%
}
.carousel-wrapper .carousel-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.carousel-wrapper .carousel-item .arrow {
    position: absolute;
    top: 0;
    display: block;
    width: 50px;
    height: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background: url("http://dancort.es/assets/img/css-carousel/carousel-arrow-dark.png") 50% 50% / 30px no-repeat;
}
.carousel-wrapper .carousel-item .arrow.arrow-prev {
    left: -4rem;
}
.carousel-wrapper .carousel-item .arrow.arrow-next {
    right: -4rem;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.carousel-wrapper .carousel-item.light {
    color: white;
}
.carousel-wrapper .carousel-item.light .arrow {
    background: url("http://dancort.es/assets/img/css-carousel/carousel-arrow-light.png") 50% 50% / 30px no-repeat;
}
@media (max-width: 480px) {
    .carousel-wrapper .carousel-item .arrow, .carousel-wrapper .carousel-item.light .arrow {
        background-size: 10px;
        background-position: 10px 50%;
    }
}

.carousel-wrapper [id^="target-item"] {
    display: none;
}
.carousel-wrapper .item-1 {
    z-index: 2;
    opacity: 1;
}
.carousel-wrapper *:target ~ .item-1 {
    opacity: 0;
}
.carousel-wrapper #target-item-1:target ~ .item-1 {
    opacity: 1;
}
.carousel-wrapper #target-item-2:target ~ .item-2, .carousel-wrapper #target-item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
}
.carousel-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.carousel-item h2{
    padding: 1rem;
    color: #ffffff;
    font-family: "Lao MN", serif;
    font-size: 48px;

}
.carousel-item p{
    padding: 1rem;
    color: aliceblue;
    font-family: "Lao MN", serif;
    font-size: 1rem;
}