@media all and (max-width: 520px) {
  .p-4 {
    padding: 0; }

  .w-25 {
    width: 100%; }
  
  .styles_w-100__EhLm3{
    display: none;}

  .styles_p__2dIfH {
    color: #fefefe;
    width: 90%;
    padding: 10px;
    font-size: 10px;
  }

  .styles_h1__2MZgZ {
    color: deepskyblue;
    font-size: 15px;
  }

  .ui-datepicker-trigger {
    margin: 0 0 0 5px;
    vertical-align: text-top;
    width: 13px;
    position: absolute;
    top: 47px; }

  header .container-fluid-header .menu-fixed {
    display: none; }
  header .container-fluid-header .outer-menu {
    display: block; }
  header .container-fluid-header .content h1 {
    font-size: 30px; }
  header .container-fluid-header .content .arrow {
    position: relative;
  top: 150px}

  #coverflow__arrow1__2X2XF .coverflow__arrow__IDi7v.coverflow__right__1tzAF {
    position: absolute;
    right: 30px!important;
  }

  #coverflow__arrow1__2X2XF .coverflow__arrow__IDi7v.coverflow__left__PhMc6 {
    position: absolute;
    left: 34px!important;
  }

  .site-header__btn {
    /* padding: 0.75rem 2rem; */
    padding: 20px 45px;
    text-transform: uppercase;
    color: #fff;
    background: #252525;
    border: 0;
    border-bottom: 2px solid #d4af37;
    font-size: 1.3rem;
    width: 100%;
    max-width: 260px;
    border-radius: 10px;
    margin-bottom: 1rem;
    font-family: raleway, sans-serif;
    margin-top: 35px;
  }

  .about .media {
    flex-direction: column; }
    .about .media .col-4 img {
      width: 100%; }
    .about .media .col-4 .images img {
      width: 50%; }
    .about .media .col-6 img {
      width: 100%; }

    .actions .container .row p {
        font-size: 13px;
    }
    .actions .container .row h2 {
        font-size: 24px;
    }

    .coverflow__figure__3bk_C{
        width: 150px!important;
    }

  .carousel-wrapper .carousel-item {
    padding: 0; }
    .carousel-wrapper .carousel-item .arrow-next {
      right: -10px !important; }
    .carousel-wrapper .carousel-item .arrow-prev {
      left: -10px !important; }

  .actions .container .row p {
    padding: 0 10px; }

  .booking .jumborton {
    border: 10px solid #999;
    width: auto;
    padding: 25px; }
    .booking .jumborton i {
      top: 46px !important; }
    .booking .jumborton .row {
      flex-direction: column; }
      .booking .jumborton .row label {
        margin-top: 15px; }

  .features {
    height: auto; }
    .features .container .justify {
      flex-direction: column; }
      .features .container .justify .col-4 {
        max-height: 275px; }

  .our-menu .list {
    flex-direction: column;
    justify-content: space-around;
    margin-left: 0;
      width: 100%;}
  .our-menu .d-flex {
    flex-direction: column; }
    .our-menu .d-flex img {
      padding: 0 4rem; }
    .our-menu .d-flex .col-6 {
      width: 100%;
      padding: 0; }
      .our-menu .d-flex .col-6 .dishes {
        border-top: 1px solid #999; }
  .our-menu .jumborton form input {
    width: 200px !important; }

  footer .container {
    padding: 10px; }
    footer .container .row {
      flex-direction: column; }
      footer .container .row .w-25 {
        width: 100%; }
        footer .container .row .w-25 .row {
          flex-direction: row; }
          footer .container .row .w-25 .row .column img {
            max-width: 100px; } }

/*# sourceMappingURL=media.css.map */
@media all and (min-width: 521px) and (max-width: 769px) {
  .our-menu .d-flex {
    -webkit-justify-content: space-between;
    justify-content: space-between;
    flex-direction: column;
    /* max-width: 200px; */
    text-align: center;
    align-items: center;
    width: 100%;
  }
}