.d-flex {
  display: flex; }
.row {
  display: flex;
  flex-direction: row; }

.transparent{
  background: rgba(199,199,199,0.5);
}
.font-blue{
  color: #45b5f5;
}

.column {
  display: flex;
  flex-direction: column;
  position: relative; }

.text-center {
  text-align: center;
  align-items: center; }

.white {
  color: #fff;
  font-size: 36px;
  margin-bottom: 0; }

.gray {
  color: #4b4741;
  font-size: 36px;
  margin-bottom: 0; }

.blue-line:after {
  background-color: #45b5f5;
  content: "";
  display: block;
  position: relative;
  height: 3px;
  width: 113px;
  margin: 14px auto 0; }

.yellow-line:after {
  background-color: #999825;
  content: "";
  display: block;
  position: relative;
  height: 3px;
  width: 113px;
  margin: 14px auto 0; }

.between {
  justify-content: space-between; }

.p-4 {
  padding: 0 4rem; }

.mt-1 {
  margin-top: 1rem; }

.primary-color {
  color: #f9c56a; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: raleway, sans-serif;
  text-transform: uppercase;
  color: #4b4741;
  text-align: center;
  font-weight: 800; }

.w-25 {
  width: 30%; }

.justify {
  justify-content: space-around; }

.container-fluid-header {
  height: 100vh;
  background: url("https://i.redd.it/9566jaq8ovm21.jpg");
  -webkit-background-size: contain;
  background-size: cover;
  background-repeat: no-repeat; }
  .container-fluid-header .outer-menu {
    display: none; }
  .container-fluid-header .menu-fixed {
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    height: auto;
    justify-content: space-between;
    position: fixed;
    z-index: 500; }
    .container-fluid-header .menu-fixed .logo {
      align-items: center; }
      .container-fluid-header .menu-fixed .logo img {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        margin: 0 10px; }
      .container-fluid-header .menu-fixed .logo p {
        color: #ececec;
        text-transform: uppercase;
        margin: 0 10px;
        font-weight: bold;
        font-size: 1.4rem; }
    .container-fluid-header .menu-fixed .main-menu a {
      text-decoration: none;
      color: #ececec;
      text-transform: uppercase;
      padding: 25px 15px;
      font-weight: 700;
      font-size: 13px;
      font-family: raleway, sans-serif;
      transition: all 0.5s ease; }
      .container-fluid-header .menu-fixed .main-menu a:hover {
        background-color: inherit !important;
        color: #f9c56a; }
  .container-fluid-header .content {
    position: relative;
    top: 20%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center; }
    .container-fluid-header .content img {
      width: 20%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%; }
    .container-fluid-header .content h1 {
      color: #fff;
      font-size: 72px;
      position: relative;
       }
    .container-fluid-header .content p {
      text-transform: none;
      font-weight: 400;
      color: #e6e6e6;
      font-size: 36px;
      position: relative;
      animation: fade;
      animation-delay: 1.5s;
      animation-duration: 1s; }
    .container-fluid-header .content .arrow img {
      width: 30px;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      position: relative;
      transition: 1s all;
    }
  .container-fluid-header .content .arrow img:hover{
    transform: translateY(10px)
  }

.about .row h2 {
  margin-top: 50px;
  margin-bottom: 0;
  font-size: 36px;
  color: #4b4741; }
.about .row p {
  color: #777;
  font-family: josefin sans, sans-serif;
  font-weight: 400;
  margin: 10px 15px; }
.about .row .col-4 {
  padding: 20px 20px; }
  .about .row .col-4 .images {
    justify-content: space-between; }
.about .row .col-6 {
  padding: 10px 20px;
  font-family: josefin sans, sans-serif;
  color: #828281;
  font-size: 22px; }

.actions .container {
  background: url("../img/bg3.png");
  -webkit-background-size: cover;
  background-size: cover;
  height: 80vh; }
  .actions .container .row h2 {
    font-family: raleway, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
    font-size: 36px;
    margin-bottom: 0; }
  .actions .container .row p {
    color: #da4343;
    font-family: josefin sans, sans-serif;
    font-weight: 700;
    text-transform: none;
    text-align: center;
    margin: 10px 0 15px;
    font-size: 20px; }

.booking .container .row h2 {
  font-size: 36px;
  margin-bottom: 0; }
.booking .container .row p {
  font-weight: 400;
  line-height: 1;
  color: #777;
  font-family: josefin sans, sans-serif; }
.booking .jumborton {
  text-align: center;
  border: 1px solid #999;
  width: 82%;
  margin: 0 auto;
  font-family: josefin sans, sans-serif;
  padding: 50px; }
  .booking .jumborton .row {
    margin-bottom: 15px;
    justify-content: space-between;
    padding: 10px; }
    .booking .jumborton .row i {
      position: absolute;
      top: 30px;
      right: 10px;
      color: #f28a2f; }
    .booking .jumborton .row label {
      font-size: 18px;
      font-weight: 400; }
    .booking .jumborton .row input {
      padding: 0 50px 0 15px;
      font-size: 16px;
      height: 40px;
      background-color: #f3f1ed;
      box-shadow: none !important;
      border: 0px;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0; }
  .booking .jumborton button {
    background-color: #f7b239;
    font-weight: 700;
    padding: 15px 40px;
    color: #333;
    text-decoration: none;
    border-color: #f7b239;
    transition: 0.5s; }
    .booking .jumborton button:hover {
      background: #c27e08; }
.booking .reservation-footer {
  text-align: center;
  background-color: #fafafa;
  overflow: visible;
  padding-top: 20px;
  width: 92%;
  margin: 0 auto; }
  .booking .reservation-footer p {
    margin-bottom: 20px;
    font-family: josefin sans, sans-serif;
    color: #828281;
    font-size: 22px; }
  .booking .reservation-footer span {
    display: block;
    width: 100%;
    height: 5px;
    text-align: center;
    background: 0 center repeat-x url("../img/zigzag.svg");
    margin-bottom: 50px; }

.features {
  height: 100vh;
  background: url("../img/bg4.png");
  -webkit-background-size: cover;
  background-size: cover; }
  .features .row p {
    font-weight: 400;
    line-height: 1;
    color: #eee;
    font-family: josefin sans, sans-serif;
    font-size: 1.4rem; }
  .features .row .col-4 {
    text-align: center;
    background-color: #fff;
    margin-bottom: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden; }
    .features .row .col-4 img {
      width: 100%;
      object-fit: contain; }
      .features .row .col-4 img:hover {
        transform: scale(1.1);
        transition: 0.4s;
        opacity: 0.9; }
    .features .row .col-4 h1 {
      font-size: 25px; }
    .features .row .col-4 p {
      padding: 10px;
      font-family: josefin sans, sans-serif;
      color: #828281;
      font-size: 22px; }

.our-menu {
  padding-bottom: 50px; }
  .our-menu .list {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around; }
    .our-menu .list a {
      text-decoration: none;
      font-family: raleway, sans-serif;
      font-size: 18px;
      color: #828281;
      font-weight: 700;
      text-transform: uppercase;
      margin: 0 20px;
      padding-bottom: 2px;
      padding-top: 5px;
      cursor: pointer;
      transition: all 0.5s ease;
      border-bottom: 3px solid transparent; }
      .our-menu .list p:hover {
        color: #f7b239; }
  .our-menu .row p {
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    color: #777;
    font-family: josefin sans, sans-serif;
    display: block !important;
    text-transform: none;
    text-align: center;
    margin: 10px 0 15px; }
  .our-menu .d-flex {
    justify-content: space-between; }
    .our-menu .d-flex .col-6 {
      padding: 0 10px;
      width: 50%;
      position: relative; }
      .our-menu .d-flex .col-6 .price {
        background: #fff; }
      .our-menu .d-flex .col-6 .name {
        position: relative;
        z-index: 63;
        background: #fff; }
      .our-menu .d-flex .col-6 .describtion {
        margin: 0;
        font-size: 18px;
        font-family: josefin sans, sans-serif;
        color: #828281; }
      .our-menu .d-flex .col-6 .dotted {
        border-top: dotted 2px #ccc;
        position: absolute;
        left: 0;
        top: 30px;
        width: 100%;
        z-index: -1; }
  .our-menu .column button {
    background-color: #f7b239;
    font-weight: 700;
    padding: 15px 40px;
    color: #333;
    text-decoration: none;
    border-color: #f7b239;
    transition: 0.5s;
    margin-top: 20px; }
    .our-menu .column button:hover {
      background: #c27e08; }
  .our-menu .jumborton {
    background: #f7f3f4;
    margin-top: 30px; }
    .our-menu .jumborton form {
      padding-bottom: 30px; }
      .our-menu .jumborton form .fa {
        padding: 14px;
        height: 21px;
        border: 2px solid #f2ba57;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        background-color: #f9c56a; }
        .our-menu .jumborton form .fa:hover {
          background-color: #f39e0a; }
      .our-menu .jumborton form input {
        border: 2px solid #f9c56a;
        background: #fff none repeat scroll 0% 0%;
        margin: 0 20px;
        width: 263px !important;
        line-height: 42px;
        height: 46px;
        font-family: josefin sans, sans-serif; }
        #coverflow__arrow1__2X2XF .coverflow__arrow__IDi7v.coverflow__left__PhMc6 {
          position: absolute;
          left: 80px!important;
        }
        #coverflow__arrow1__2X2XF .coverflow__arrow__IDi7v.coverflow__right__1tzAF {
          position: absolute;
          right: 80px!important;
        }

footer {
  font-family: Josefin Sans, serif;
  background: url("../img/bg6.png") no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover; }
  footer .footer h2 {
    color: #f9c56a;
    font-size: 18px;
    text-align: left;
    margin: 60px 0 26px; }
  footer .footer p {
    font-family: inherit;
    color: #fff;
    font-size: 18px; }
  footer .footer small {
    color: #f9c56a;
    text-decoration: none; }
  footer .footer .date {
    font-size: 14px;
    color: #828281;
    font-weight: 700;
    margin: 0; }
  footer .footer strong {
    font-weight: 700;
    font-size: 17px;
    color: #fff;
    margin-left: 10px; }
  footer .footer .social {
    width: 100%;
    justify-content: space-around; }
    footer .footer .social i {
      padding: 15px;
      margin-right: 1px;
      color: #fff;
      background-color: #343434;
      border-radius: 5px;
      height: auto;
      display: inline-block;
      text-align: center;
      font-size: 17px; }
  footer .footer .contact-us {
    margin-top: 10px; }
    footer .footer .contact-us p {
      margin: 10px 0; }
      footer .footer .contact-us p i {
        margin-right: 10px;
        color: #f9c56a; }
  footer .copyright {
    padding: 10px;
    text-align: center;
    background-color: #1c1c1e;
    color: #ffabab;}

  .dishes{
    border: 3px solid #c7c7c7;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background: #46414517;
  }


@keyframes to-bottom {
  0% {
    top: -500px; }
  100% {
    top: 0;
    opacity: 1; } }
@-webkit-keyframes fade /* Safari and Chrome */ {
  from {
    opacity: 0;
    top: -1000px; }
  to {
    opacity: 1;
    top: 0; } }

/*# sourceMappingURL=style.css.map */
